<!-- Actions -->
{% include "partials/actions.html" %}

<!--
  Hack: check whether the content contains a h1 headline. If it doesn't, the
  page title (or respectively site name) is used as the main headline.
-->
{% if "\u003ch1" not in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}

{% if page.meta and page.meta.Author %}
        <b><i>{{ page.meta.Author }}</i></b>
      {% endif %}

{% if page.meta and page.meta.stars %}
        <b>{{ page.meta.stars }}</b>
      {% endif %}

<!-- Page content -->
{{ page.content }}

<!-- Tags -->
{% include "partials/tags.html" %}

<!-- Source file information -->
{% include "partials/source-file.html" %}

<!-- Was this page helpful? -->
{% include "partials/feedback.html" %}

<!-- Comment system -->
{% include "partials/comments.html" %}